@font-face {
    font-family: 'Benguiat Rus';
    font-style: normal;
    font-weight: 400;
    /*
    src: local('Benguiat Rus'), local('BenguiatRus-Regular'), url("/images/benguiat-rus.woff") format('woff')
     */
    src: local('Benguiat Rus'), local('BenguiatRus-Regular'), url("/images/agopushighresolution-bold.ttf") format('truetype')


}

html,
body {
    height: 100%;
    color: rgb(150, 150, 150);
    font-size: 16px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 5px 15px 5px;
}

header {
    background-color: #141f93;
    color: white;
}

header img {
    max-height: 100px;
    padding-right: 10px;
}

.bordered {
    border: solid 1px red;
}

.header-logo {
    font-size: 26px;
    font-family: 'Benguiat Rus', arial;
    white-space: nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
}

@media (max-width: 1000px) {
    .header-logo {

        font-size: 20px;
    }

    header img {
        max-height: 55px;
    }
}

@media (max-width: 580px) {
    .header-logo {
        font-size: 16px;
    }

    header img {
        max-height: 55px;
    }
}

@media (max-width: 320px) {
    .header-logo {
        font-size: 14px;
    }

    header img {
        max-height: 45px;
    }
}

.header-info {
    padding: 3px;
}

.header-logo a {
    display: flex;
    color: white;
}

.head-phone-number {
    font-size: 22px;
    font-family: 'Benguiat Rus', arial;
    white-space: nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
}

@media (min-width: 992px ) {
    .header-info {
        padding-top: 12px;
    }
}

.navbar {
    margin-bottom: 0;
}

.container.breadcrumb-container {
    font-size: 12px;
    padding-top: 0;
}

.portrait img {
    width: 200px;
    margin: 0 auto;
}

.portrait {
    text-align: center;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: flex;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.head-phone-number a {
    color: white;
}

/**/
.clinic_select {
    padding: 4px 10px;
    margin: 0 5px;
    border-radius: 3px;
    border: solid 1px #337ab7;
}

.clinic_select.current {
    background-color: #337ab7;
    color: white;
}

.shadow_box {
    box-shadow: 1px 1px 5px 3px #E0F7FF;
    padding: 5px;
    margin: 10px 3px;

}

/* Карточка врача в \views\persons\_card.php*/
.person_card {
    margin: 10px;
    padding: 5px;
    display: block;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    box-shadow: 3px 3px 5px 3px #E0F7FF;
}

.person_card:hover {
    box-shadow: 3px 3px 5px 3px #ace1ff;
}

.person_card div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.person_card div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.person_card img {
    height: 100px;
}

@media (max-width: 768px) {
    .person_card {
        width: 45%;
    }
}

@media (max-width: 426px) {
    .person_card {
        width: 100%;
    }
}

/* Карточка врача в \views\persons\_card_ext.php*/
.ext_person_card h4 {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ext_person_card {
    min-width: 300px;
    width: 100%;
    padding: 4px;
    display: block;
}

.ext_person_card img {
    height: 100px;
    padding: 4px;
}

.ext_person_card .person_card_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 992px) {
    section.person_row .ext_person_card:nth-child(3) {
        display: none;
    }
}

@media (max-width: 650px) {
    section.person_row .ext_person_card:nth-child(3) {
        display: block;
    }

    section.person_row {
        flex-direction: column;
    }
}

/* Главная страница */
div.mainpage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.mainpage section, .mainpage a {
    margin: 10px;
    padding: 5px 15px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 3px 3px 5px 3px #E0F7FF;
    width: 100%;
}

a.spec_button {
    text-align: center;
    cursor: pointer;
    background-color: rgb(51, 122, 183);
    color: white;
}

a.spec_button.current {
    background-color: #1F4C73;
}

a.spec_button:hover {
    background-color: #1F4C73;
}

section.person_row {
    margin: 0;
    padding: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    flex: 1; /* Равная ширина блоков*/
}

.mainpage .first {
    box-shadow: none;
}

@media (max-width: 768px) {
    div.mainpage {
        flex-direction: column;
    }

    .mainpage section {
        width: 100%;
    }
}

img.partner_bar {
    width: 100%;
    max-width: 400px;
}

.partner_bar figure {
    text-align: center;
}

.carousel {
    width: 100%;
}

.carousel-inner img {
    min-width: 350px;
    max-height: 300px;
}

.carousel_wrapper {
    max-width: 50%;
    height: 300px;
}

.carousel_wrapper.single_picture .carousel-indicators {
    display: none;
}

.carousel_wrapper.single_picture .carousel-control {
    display: none;
}

.top_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 740px) {
    .top_wrapper {
        flex-wrap: wrap;
    }
}

.promo_dates {
    background-color: #ebfeff;
    margin-bottom: 10px;
}

.promo_picture {
    width: 300px;
    max-height: 300px;
    float: right;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .promo_picture {
        float: none;
    }

    .promopic_wrapper {
        text-align: center;
    }

}

/* views\promo\_form.php*/
#promo-cliniclist {
    display: flex;
    flex-direction: column;
}

#promo-cliniclist label {
    display: block;
}

.promo-form {
    display: flex;
}

.promo_info {
    padding-left: 10px;
}

.appoint_clinic_block{
    display: flex;
    flex-wrap: wrap;
}

.appoint_clinic{
    margin: 10px;
    padding: 5px;
    display: block;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    box-shadow: 3px 3px 5px 3px #E0F7FF;
}

.appoint_admin_block{
    margin: 10px;
    padding: 5px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 3px 3px 5px 3px #E0F7FF;
}

.btn-small{
    padding:1px 3px;
    font-size: 12px;
}

/* DEV элементы (удалить в продакшне)


.header-a {
    background-color: transparent;
}

.header-a .header-logo, .head-phone-number {
    opacity: .02;
}

h1, h2 {
    opacity: .05;
}

.header-a img {
    opacity: .5;
}

a h4 {
    opacity: .3;
}

.mainpage {
    opacity: .3;
}

.btn-group {
    opacity: 1;
}

.promo-view h1 {
    opacity: 1;
}

.person_card img, .portrait img {
    opacity: .3;
}
